// Variables
$black: #000;
$white: #fff;





// Main color
$primary-color: $white;

// Anchor color
$secondary-color: #00a4cc;

// Font color
$font-color: $black;

// Other colors

$navbar-text-shadow: False;
$header-text-shadow: False;

$header-background-color: $primary-color;
$intro-text-color: $white;
$navbar-color: $white;
$navbar-lg-collapse-background-color: $black;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
